<!-- Exclusive products -->
<div class="exclusive_products">
    <div class="exclusive_products_two_blocks">
        <div class="exclusive_products_block1">
            <div class="exclusive_products_block_textarea padding_site">
                <span class="exclusive_products_block_textarea_mini_title">Эксклюзив</span>
                <p class="exclusive_products_block_textarea_main_title">iPhone XR Red</p>
                <p class="exclusive_products_block_textarea_text">12 лет вместе с (RED) мы поддерживаем программы,
                    препятствующие ВИЧ.</p>
                <a href="/product/12/" class="exclusive_products_block_textarea_button">Подробнее ></a>
            </div>
        </div>
        <div class="exclusive_products_block2">
            <div class="exclusive_products_block_textarea padding_site">
                <span class="exclusive_products_block_textarea_mini_title">Эксклюзив</span>
                <p class="exclusive_products_block_textarea_main_title">Редкие цвета</p>
                <p class="exclusive_products_block_textarea_text">Уникальные расцветки: золото, серый космос, розовое
                    золото и черный сапфир.</p>
                <a href="/product/10/" class="exclusive_products_block_textarea_button">Посмотреть ></a>
            </div>
        </div>
    </div>
</div>