{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block header1_page %}<h1 class="title_inner_page">{{ header1 }}</h1>{% endblock %}
{% block content %}
            <div class="address_3_blocks padding_site">
                <div class="address_3_blocks_block">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="address_3_blocks_block_state">г. Москва</p>
                    <p class="address_3_blocks_block_title">Адрес:</p>
                    <p class="address_3_blocks_block_p">Севастопольский пр-кт, д. 29</p>
                    <p class="address_3_blocks_block_title">Телефон:</p>
                    <p class="address_3_blocks_block_p">+7(495) 123-45-67</p>
                    <p class="address_3_blocks_block_title">Эл. почта:</p>
                    <p class="address_3_blocks_block_p"><a class="address_3_blocks_block_email_a" href="mailto:info@myphone.ru" title="Написать письмо">info@myphone.ru</a></p>
                </div>
                <div class="address_3_blocks_block">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="address_3_blocks_block_state">г. Тверь</p>
                    <p class="address_3_blocks_block_title">Адрес:</p>
                    <p class="address_3_blocks_block_p">ул. Толстого, д. 2</p>
                    <p class="address_3_blocks_block_title">Телефон:</p>
                    <p class="address_3_blocks_block_p">+7(563) 567-48-59</p>
                    <p class="address_3_blocks_block_title">Эл. почта:</p>
                    <p class="address_3_blocks_block_p"><a class="address_3_blocks_block_email_a" href="mailto:info-tverj@myphone.ru" title="Написать письмо">info-tverj@myphone.ru</a></p>
                </div>
                <div class="address_3_blocks_block">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="address_3_blocks_block_state">г. Тула</p>
                    <p class="address_3_blocks_block_title">Адрес:</p>
                    <p class="address_3_blocks_block_p">Тульское шоссе, д. 3</p>
                    <p class="address_3_blocks_block_title">Телефон:</p>
                    <p class="address_3_blocks_block_p">+7(978) 645-87-65</p>
                    <p class="address_3_blocks_block_title">Эл. почта:</p>
                    <p class="address_3_blocks_block_p"><a class="address_3_blocks_block_email_a" href="mailto:info-tula@myphone.ru" title="Написать письмо">info-tula@myphone.ru</a></p>
                </div>
            </div>
{% endblock %}